@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movies application</h1>
    <p class="lead">This application will show you how to build a great Web site for movies and clients management using MVC5, HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
