@model List<AudMVC1_1.Models.Movie>
@{
    ViewBag.Title = "ShowAllMovies";
}

<h2>List of all movies</h2>
<ul>
    @{
        int i = 0;
        foreach (AudMVC1_1.Models.Movie m in Model)
        {
            <li>
                <h3>
                <img src="@m.ImageURL" style="max-width:100px;"/>
                @Html.ActionLink(m.Name,"ShowMovie1",new { id = i})
                    |
                    @Html.ActionLink("Edit", "EditMovie1", new { id = i })
|
                    @Html.ActionLink("Delete", "DeleteMovie", new { id = i })
                </h3>
            </li>
            i++;
        }

    }
</ul>
